<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>天天酷跑</string>
		<key>icon</key>
		<string>AppStoreIcon</string>
	</dict>
    <dict>
        <key>label</key>
        <string>英雄联盟</string>
        <key>icon</key>
        <string>AppStoreIcon</string>
    </dict>
    <dict>
        <key>label</key>
        <string>王者荣耀</string>
        <key>icon</key>
        <string>AppStoreIcon</string>
    </dict>
    <dict>
        <key>label</key>
        <string>QQ飞车</string>
        <key>icon</key>
        <string>AppStoreIcon</string>
    </dict>
</array>
</plist>
